    SELECT 
        [ScheduleId]
        ,COUNT(*) AS TotalRuns
        ,SUM(RunDurationSec) AS TotalTimeSec
        ,ComputedAvg = (SUM(RunDurationSec) / COUNT(*))
        ,AVG([RunDurationSec]) AS AvgRunDurationSec
        ,STDEV([RunDurationSec]) AS SchedDeviation
        ,STDEV([RunDurationSec]) * 2 AS Stddev2
        ,SchedDeviation2x = (AVG([RunDurationSec]) + STDEV([RunDurationSec]) * 2)
    FROM
    (
        SELECT 
            *
            , rank() over 
                (partition by SchedRunHist.ScheduleId order by SchedRunHist.StartTime DESC) as RunRank
            , DATEDIFF(second, [StartTime], [EndTime]) AS RunDurationSec
        FROM IVMHistorical.ivm.ScheduleRunHistory SchedRunHist
        WHERE 
            [StartTime] > '2018/01/01' 
            AND [HasError] = 0
            AND [StartTime] < [EndTime]
            AND ScheduleId = 1000085
    ) AS CV
    GROUP BY CV.ScheduleId
