/****** Script for SelectTopNRows command from SSMS  ******/

-- Starting reference date will be @DayOffset in the past
DECLARE @DayOffset AS INT = 30
DECLARE @RunHistoryStartOffset AS DATETIME = (GETUTCDATE() - @DayOffset)
SELECT  @DayOffset, @RunHistoryStartOffset;


WITH cteValue AS  (
    SELECT 
        VisualWorkflowId
        , rank() over 
            (partition by vwfrh.VisualWorkflowId order by vwfrh.StartTime DESC) as RunHistory
        , DATEDIFF(second, StartTime, EndTime) AS RunDurationSec
    FROM IVMHistorical.ivm.VisualWorkflowRunHistory vwfrh
    WHERE 
        [StartTime] > '2018/09/01' --@RunHistoryStartOffset 
        AND [StartTime] < [EndTime]
        --AND ScheduleId = 1000027
) 
, cteValues1 AS (
    SELECT 
    --    [ScheduleRunHistoryId]
        [ScheduleId]
    --    ,[StartTime]
    --    ,[EndTime]
    --    ,[HasError]
    --    ,[HasWarning]
    --    ,[HasDisabledSchedules]
    --    ,[RunHistory]
        ,TotalRuns = COUNT(*)
        ,MIN(RunDurationSec) AS MinRunTime
        ,MAX(RunDurationSec) AS MaxRunTime
        ,SUM(RunDurationSec) AS TotalTimeSec
        ,ComputedAvg = (SUM(RunDurationSec) / COUNT(*))
        ,AVG([RunDurationSec]) AS AvgRunDurationSec
        ,STDEV([RunDurationSec]) AS SchedDeviation
        ,SchedDeviation2x = (AVG([RunDurationSec]) + STDEV([RunDurationSec]) * 2)
    FROM 
        cteValue AS cv
    
    GROUP BY 
        [ScheduleId]
    HAVING COUNT(*) > 1
 )

 select * from cteValues1;

, cteValues2 AS (
    SELECT 
        cv1.ScheduleId
        , ivmSched.ScheduleName
        , cv1.TotalRuns          AS TotalSchedRuns
        , cv1.MinRunTime         AS MinRunTime
        , cv1.MaxRunTime         AS MaxRunTime
        , cv1.AvgRunDurationSec  AS AvgRunTimeSec
        , cv1.SchedDeviation     AS RunTimeDeviation
        , cv1.SchedDeviation2x   AS RunTimeDeviationX2
    FROM 
        cteValues1 cv1
        INNER JOIN IVMHistorical.ivm.ScheduleRunHistory AS ivmSchedRun
            ON cv1.ScheduleId = ivmSchedRun.ScheduleId
        INNER JOIN IVMConfig.ivm.Schedule AS ivmSched
            ON ivmSched.ScheduleId = cv1.ScheduleId 
        INNER JOIN IVMHistorical.ivm.ScheduleRunHistory SchedRunHist
            ON SchedRunHist.ScheduleId = cv1.ScheduleId
    WHERE
        DATEDIFF(second, SchedRunHist.StartTime, SchedRunHist.EndTime) > cv1.SchedDeviation
)
SELECT DISTINCT
    * 
FROM 
    cteValues2
ORDER BY 
    [ScheduleId]