/****** Script for SelectTopNRows command from SSMS  ******/

-- Starting reference date will be @DayOffset in the past
DECLARE @DayOffset AS INT = 30
DECLARE @RunHistoryStartOffset AS DATETIME = (GETDATE() - @DayOffset)
SELECT  @DayOffset, @RunHistoryStartOffset;

WITH cte1 AS (
    SELECT 
    --    [ScheduleRunHistoryId]
        [ScheduleId]
    --    ,[StartTime]
    --    ,[EndTime]
    --    ,[HasError]
    --    ,[HasWarning]
    --    ,[HasDisabledSchedules]
    --    ,[RunHistory]
        ,COUNT(*) AS TotalRuns
        ,MIN(RunTimeSec) AS MinRunTime
        ,MAX(RunTimeSec) AS MaxRunTime
        ,AVG(RunTimeSec) AS AvgRunTimeSec
        ,STDEV(RunTimeSec) AS StdDev
    FROM 
        --[IVMHistorical].[ivm].[ScheduleRunHistory]
        (
            SELECT 
                ScheduleId
                , rank() over 
                    (partition by SchedRunHist.ScheduleId order by SchedRunHist.StartTime DESC) as RunHistory
                , DATEDIFF(second, [StartTime], [EndTime]) AS RunTimeSec
            FROM IVMHistorical.ivm.ScheduleRunHistory SchedRunHist
            WHERE 
                [StartTime] > @RunHistoryStartOffset 
                AND [HasError] = 0
                AND [StartTime] < [EndTime]
                --AND ScheduleId = 1000027
        ) AS Sched
    GROUP BY 
        [ScheduleId]
    )
, cte2 AS (
    SELECT 
        cv.ScheduleId
        , ivmSched.ScheduleName
        , cv.TotalRuns          AS TotalSchedRuns
        , cv.MinRunTime         AS MinRunTime
        , cv.MaxRunTime         AS MaxRunTime
        , cv.AvgRunTimeSec      AS AvgRunTimeSec
        , cv.StdDev             AS OneSTDEV
        , cv.StdDev * 2         AS TwoSTDEV
        , cv.AvgRunTimeSec + cv.StdDev AS AvgPlusOneStdDev
        , cv.AvgRunTimeSec + (cv.StdDev * 2) AS AvgPlusTwoStdDev
    FROM 
        cte1 cv
        INNER JOIN IVMHistorical.ivm.ScheduleRunHistory AS ivmSchedRun
            ON cv.ScheduleId = ivmSchedRun.ScheduleId
        INNER JOIN IVMConfig.ivm.Schedule AS ivmSched
            ON ivmSched.ScheduleId = cv.ScheduleId 
)

SELECT DISTINCT
    * 
FROM 
    cte2
ORDER BY 
    [ScheduleId]