/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	   [DataSetId]
      ,[ObjectTypeName]
      ,[ObjectInstanceName]
      ,[ObjectTypePropertyId]
      ,[ObjectTypePropertyName]
      ,[DataSourceName]
      ,[Tagname]
      ,[AliasText]
      ,[CurrentValue]
      ,[LastGoodSampleTime]
      ,[CurrentText]
  FROM [IVMPetexDP].[ext].[vw_CurrentValues]
  WHERE 
	ObjectTypeId = 1000000
  	and DataSourceName  like '%External%'
	and ObjectTypePropertyName = 'LP Separator Oil Rate - MBX'
  ORDER BY ObjectTypePropertyName

