/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
--TOP 1000 
[DataSetId]
      ,[ObjectTypeName]
      ,[ObjectInstanceName]
      ,[ObjectTypePropertyName]
      ,[PollGroupName]
      ,[AliasText]
      ,[DataSourceId]
      ,[DataSourceName]
      ,[CurrentValue]
      ,[CurrentText]
  FROM [IVMPetexDP].[ext].[vw_CurrentValues]
  where ObjectTypePropertyName like 'HP Separator Gas Volume Yesterday - Alternate Check Meter' 
      --and PollGroupName  like 'Lagging Well%'
      --and PollGroupName  like 'VT Well Data%'      
	  --and PollGroupName  like 'Well Data%'
	  and AliasText like 'MMscf'